# Constru√ß√£o de Portf√≥lio de A√ß√µes
## Estrat√©gia para Refletir as Principais Participa√ß√µes em Setores do Ibovespa

## Resumo

Este artigo prop√µe a cria√ß√£o de uma carteira fict√≠cia como parte integrante de um estudo subsequente de an√°lise de risco de portf√≥lio de a√ß√µes, composta por 10 ativos diversos. A abordagem adotada consiste na sele√ß√£o da maior participa√ß√£o em cada setor, com a determina√ß√£o dos pesos baseada na participa√ß√£o percentual do papel que comp√µe o √≠ndice Bovespa. Para tanto, utilizou-se a tabela ‚ÄúIBOVDia_12‚Äì01‚Äì24.csv‚Äù, que cont√©m dados atualizados do Ibovespa em 12/01/2024, empregando a linguagem de programa√ß√£o Python. Optou-se por esse m√©todo visando incorporar as principais a√ß√µes do mercado brasileiro com o maior n√∫mero poss√≠vel de setores para garantir a diversifica√ß√£o na carteira.
> üìå Nota: Este portf√≥lio de a√ß√µes ser√° utilizado em estudos futuros para simular a an√°lise de riscos em carteiras de investimentos. A metodologia ou os resultados obtido n√£o devem ser considerados como recomenda√ß√£o de compra ou venda de ativos.

## √çndice Bovespa (Ibovespa B3)

O Ibovespa √© uma carteira te√≥rica de ativos composta por a√ß√µes e units de empresas que atendem a crit√©rios espec√≠ficos, representando aproximadamente 80% dos neg√≥cios e do volume financeiro no mercado de capitais brasileiro. Criado em 1968, o √≠ndice tornou-se uma refer√™ncia global ao longo de 50 anos sendo o principal indicador de desempenho das a√ß√µes na B3, reunindo as empresas mais importantes do mercado brasileiro.

## Descri√ß√£o e coleta dos dados

Importa√ß√£o das bibliotecas que ser√£o utilizadas:

In [1]:
import pandas as pd
import numpy as np

Lendo os dados da Carteira Te√≥rica do IBovespa:

In [2]:
csv = './data/IBOVDia_12-01-24.csv'
ibov = pd.read_csv(csv,
                   sep=';',
                   encoding='ISO-8859-1',
                   skipfooter=2,
                   engine='python',
                   thousands='.',
                   decimal=',',
                   header=1,
                   index_col=False)
ibov.head()

,Setor,C√≥digo,A√ß√£o,Tipo,Qtde. Te√≥rica,Part. (%),Part. (%)Acum.
0,Bens Indls / M√°qs e Equips,WEGE3,WEG,ON NM,1481593024,2.316,2.316
1,Bens Indls / Mat Transporte,EMBR3,EMBRAER,ON NM,734632705,0.722,0.722
2,Bens Indls/Transporte,AZUL4,AZUL,PN N2,327593725,0.209,2.157
3,Bens Indls/Transporte,CCRO3,CCR SA,ON NM,995335937,0.613,2.157
4,Bens Indls/Transporte,GOLL4,GOL,PN N2,198184909,0.071,2.157

Primeiramente, √© fundamental obtermos uma vis√£o abrangente dos r√≥tulos das colunas, examinarmos os tipos de dados presentes e checarmos se h√° valores ausentes em nossa base.

In [3]:
ibov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Setor           87 non-null     object
 1   C√≥digo          87 non-null     object
 2   A√ß√£o            87 non-null     object
 3   Tipo            87 non-null     object
 4   Qtde. Te√≥rica   87 non-null     int64
 5   Part. (%)       87 non-null     float64
 6   Part. (%)Acum.  87 non-null     float64
dtypes: float64(2), int64(1), object(4)
memory usage: 4.9+ KB

Para o entendimento dos dados, os metadados da tabela fornecer√£o informa√ß√µes sobre o significado de cada coluna.
```
Colunas:

Setor:          (Tipo: Texto) - O setor e subsetor ao qual a a√ß√£o pertence (separados por "/").
C√≥digo:         (Tipo: Texto) - O c√≥digo identificador √∫nico usado na bolsa de valores (B3) para identificar e negociar um determinado ativo.
A√ß√£o:           (Tipo: Texto) - O nome da a√ß√£o.
Tipo:           (Tipo: Texto) - O tipo de a√ß√£o seguido pelo Nivel de Governan√ßa (separados por " ").
Qtde. Te√≥rica:  (Tipo: Num√©rico) - A quantidade te√≥rica de a√ß√µes no √≠ndice Bovespa.
Part. (%):      (Tipo: Num√©rico) - A participa√ß√£o percentual da a√ß√£o no √≠ndice Bovespa.
Part. (%)Acum.: (Tipo: Num√©rico) - A participa√ß√£o percentual do Setor / SubSetor da a√ß√£o no √≠ndice Bovespa.
```

Conforme observado nos metadados, a coluna "Setor" apresenta o setor e subsetor da a√ß√£o separados por "/". Podemos identific√°-los utilizando a fun√ß√£o `unique()`.

In [4]:
ibov['Setor'].unique()

array(['Bens Indls / M√°qs e Equips', 'Bens Indls / Mat Transporte',
       'Bens Indls/Transporte', 'Cons N  B√°sico / Alimentos Processados',
       'Cons N C√≠clico / Bebidas', 'Cons N C√≠clico / Com√©rcio Distr.',
       'Cons N C√≠clico / Pr Pessoal Limp', 'Cons N Ciclico/Agropecu√°ria',
       'Consumo C√≠clico / Com√©rcio', 'Consumo C√≠clico / Tecid Vest Cal√ß',
       'Consumo C√≠clico/Constr Civil', 'Consumo C√≠clico/Viagens e Lazer',
       'Diversos', 'Financ e Outros / Explor Im√≥veis',
       'Financ e Outros / Holdings Divers',
       'Financ e Outros / Interms Financs',
       'Financ e Outros / Previd  Seguros',
       'Financeiro e Outros/Servi√ßos Financeiros Diversos',
       'Mats B√°sicos / Madeira e Papel', 'Mats B√°sicos / Minera√ß√£o',
       'Mats B√°sicos / Qu√≠micos', 'Mats B√°sicos / Sid Metalurgia',
       'Petr√≥leo/ G√°s e Biocombust√≠veis', 'Sa√∫de/Com√©rcio Distr.',
       'Sa√∫de/SM Hosp An.Diag', 'Tec.Informa√ß√£o/Programas Servs',
       'Telecomunica√ß√£o', 'Utilidade P√∫bl / √Ågua Saneamento',
       'Utilidade P√∫bl / Energ El√©trica'], dtype=object)

Vamos separar os dados desta coluna em "Setor" e "Subsetor".

In [5]:
# Separando os dados antes e depois da "/".
# O par√¢metro 'expand=True' retorna os dados em colunas separadas.
ibov[['Setor', 'Subsetor']] = ibov['Setor'].str.split('/', expand=True)

# Removendo os espa√ßos extras ao redor das strings
ibov['Setor'] = ibov['Setor'].str.strip()
ibov['Subsetor'] = ibov['Subsetor'].str.strip()

Agora, as informa√ß√µes de Setor e Subsetor das a√ß√µes est√£o separadas em colunas distintas.

In [6]:
ibov['Setor'].unique()

array(['Bens Indls', 'Cons N  B√°sico', 'Cons N C√≠clico', 'Cons N Ciclico',
       'Consumo C√≠clico', 'Diversos', 'Financ e Outros',
       'Financeiro e Outros', 'Mats B√°sicos', 'Petr√≥leo', 'Sa√∫de',
       'Tec.Informa√ß√£o', 'Telecomunica√ß√£o', 'Utilidade P√∫bl'],
      dtype=object)

In [7]:
ibov['Subsetor'].unique()

array(['M√°qs e Equips', 'Mat Transporte', 'Transporte',
       'Alimentos Processados', 'Bebidas', 'Com√©rcio Distr.',
       'Pr Pessoal Limp', 'Agropecu√°ria', 'Com√©rcio', 'Tecid Vest Cal√ß',
       'Constr Civil', 'Viagens e Lazer', None, 'Explor Im√≥veis',
       'Holdings Divers', 'Interms Financs', 'Previd  Seguros',
       'Servi√ßos Financeiros Diversos', 'Madeira e Papel', 'Minera√ß√£o',
       'Qu√≠micos', 'Sid Metalurgia', 'G√°s e Biocombust√≠veis',
       'SM Hosp An.Diag', 'Programas Servs', '√Ågua Saneamento',
       'Energ El√©trica'], dtype=object)

Novamente, iremos verificar se as novas colunas possuem dados faltantes.

In [8]:
ibov[['Setor', 'Subsetor']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Setor     87 non-null     object
 1   Subsetor  81 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

Observa-se que existem 6 linhas com valores nulos na coluna ‚ÄúSubsetor‚Äù. Podemos identific√°-las utilizando o m√©todo `.isna()`:

In [9]:
ibov[ibov['Subsetor'].isna()]

,Setor,C√≥digo,A√ß√£o,Tipo,Qtde. Te√≥rica,Part. (%),Part. (%)Acum.,Subsetor
28,Diversos,COGN3,COGNA ON,ON NM,1814920980,0.269,3.056,None
29,Diversos,RENT3,LOCALIZA,ON NM,853202347,2.337,3.056,None
30,Diversos,VAMO3,VAMOS,ON NM,421383330,0.180,3.056,None
31,Diversos,YDUQ3,YDUQS PART,ON NM,289347914,0.270,3.056,None
73,Telecomunica√ß√£o,VIVT3,TELEF BRASIL,ON,423091712,0.956,1.574,None
74,Telecomunica√ß√£o,TIMS3,TIM,ON NM,807896814,0.618,1.574,None

Substituiremos os dados faltantes do Subsetor pelos mesmos do Setor.

In [10]:
ibov['Subsetor'] = ibov['Subsetor'].fillna(ibov['Setor'])
ibov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Setor           87 non-null     object
 1   C√≥digo          87 non-null     object
 2   A√ß√£o            87 non-null     object
 3   Tipo            87 non-null     object
 4   Qtde. Te√≥rica   87 non-null     int64
 5   Part. (%)       87 non-null     float64
 6   Part. (%)Acum.  87 non-null     float64
 7   Subsetor        87 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 5.6+ KB

Entendemos que alguns setores podem ser agrupados. Portanto, vamos consolid√°-los para formar 10 setores distintos.

In [11]:
def agrupa_setor(setor):
  if setor in ['Cons N  B√°sico', 'Cons N C√≠clico', 'Cons N Ciclico']: return "Consumo N√£o-C√≠clico"
  if setor in ['Financ e Outros', 'Financeiro e Outros']: return "Financeiro"
  if setor in ['Tec.Informa√ß√£o', 'Telecomunica√ß√£o']: return "TI e Telecom"
  else: return setor

ibov['Setor'] = ibov['Setor'].apply(agrupa_setor)
ibov['Setor'].unique()

array(['Bens Indls', 'Consumo N√£o-C√≠clico', 'Consumo C√≠clico', 'Diversos',
       'Financeiro', 'Mats B√°sicos', 'Petr√≥leo', 'Sa√∫de', 'TI e Telecom',
       'Utilidade P√∫bl'], dtype=object)

## Crit√©rios de Sele√ß√£o

As a√ß√µes escolhidas ser√£o aquelas que ocupam a maior participa√ß√£o em cada setor. Para isso, ordenou-se as a√ß√µes por participa√ß√£o na ordem decrescente e selecionou-se a primeira de cada setor.

In [12]:
# Ordenando as a√ß√µes por participa√ß√£o na ordem decrescente e selecionando a primeira de cada setor.
Carteira = ibov.sort_values(by=['Part. (%)'], ascending=False).groupby(['Setor']).head(1)
Carteira

,Setor,C√≥digo,A√ß√£o,Tipo,Qtde. Te√≥rica,Part. (%),Part. (%)Acum.,Subsetor
51,Mats B√°sicos,VALE3,VALE,ON NM,4196924316,13.681,14.311,Minera√ß√£o
60,Petr√≥leo,PETR4,PETROBRAS,PN N2,4566445852,7.805,17.879,G√°s e Biocombust√≠veis
40,Financeiro,ITUB4,ITAUUNIBANCO,PN N1,4801593832,7.189,17.747,Interms Financs
79,Utilidade P√∫bl,ELET3,ELETROBRAS,ON N1,1980568384,3.843,10.954,Energ El√©trica
11,Consumo N√£o-C√≠clico,ABEV3,AMBEV S/A,ON,4394245879,2.675,2.675,Bebidas
29,Diversos,RENT3,LOCALIZA,ON NM,853202347,2.337,3.056,Diversos
0,Bens Indls,WEGE3,WEG,ON NM,1481593024,2.316,2.316,M√°qs e Equips
67,Sa√∫de,RADL3,RAIADROGASIL,ON NM,1275798515,1.614,2.248,Com√©rcio Distr.
73,TI e Telecom,VIVT3,TELEF BRASIL,ON,423091712,0.956,1.574,Telecomunica√ß√£o
20,Consumo C√≠clico,LREN3,LOJAS RENNER,ON NM,951329770,0.703,1.431,Com√©rcio

## Pondera√ß√£o

Determinou-se os pesos das a√ß√£o pela sua participa√ß√£o no Ibovespa. Ao adotar essa abordagem de pondera√ß√£o, buscou-se assegurar que a composi√ß√£o da carteira reflita n√£o apenas a posi√ß√£o no setor, mas tamb√©m a influ√™ncia da a√ß√£o no √≠ndice como um indicador mais abrangente do mercado.

In [13]:
#Distribuindo os pesos na carteira
Carteira['Peso'] = Carteira['Part. (%)'] / Carteira['Part. (%)'].sum()

In [14]:
#Selecionando somente as colunas necess√°rias.
Carteira = Carteira[['C√≥digo', 'A√ß√£o', 'Peso', 'Setor', 'Subsetor']].reset_index(drop=True)
Carteira

  C√≥digo          A√ß√£o      Peso                Setor               Subsetor
0  VALE3          VALE  0.317285         Mats B√°sicos              Minera√ß√£o
1  PETR4     PETROBRAS  0.181011             Petr√≥leo  G√°s e Biocombust√≠veis
2  ITUB4  ITAUUNIBANCO  0.166725           Financeiro        Interms Financs
3  ELET3    ELETROBRAS  0.089125       Utilidade P√∫bl         Energ El√©trica
4  ABEV3     AMBEV S/A  0.062038  Consumo N√£o-C√≠clico                Bebidas
5  RENT3      LOCALIZA  0.054199             Diversos               Diversos
6  WEGE3           WEG  0.053712           Bens Indls          M√°qs e Equips
7  RADL3  RAIADROGASIL  0.037431                Sa√∫de        Com√©rcio Distr.
8  VIVT3  TELEF BRASIL  0.022171         TI e Telecom        Telecomunica√ß√£o
9  LREN3  LOJAS RENNER  0.016304      Consumo C√≠clico               Com√©rcio

In [15]:
#Salvando os dados da carteira em formato .xlsx com pandas
Carteira.to_excel('./data/carteira.xlsx', index = False)

## Conclus√£o

Por fim, temos uma carteira que tenta refletir as principais posi√ß√µes nos setores do Ibovespa, com pesos proporcionais √† participa√ß√£o de cada a√ß√£o no √≠ndice e contando com informa√ß√µes sobre o setor, subsetor e nome da a√ß√£o, os quais ser√£o utilizadas em an√°lises futuras.